services:
  db:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: vish2004
      MYSQL_DATABASE: cli_chat
      MYSQL_USER: vishwa
      MYSQL_PASSWORD: vish2004
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
volumes:
  mysql_data:
